
body {
    background: url("../images/hip-square.png");
    font-size: 18px;
    line-height: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1,
h2,
h3,

p {
    margin-bottom: 20px;
}

p: last-child {
    margin-bottom: 0}

    h1,
    h2,
    h3 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    }

    h1 {
        font-weight: 30px;
        line-height: 40px;
        border-bottom: 20px;
    }
    h2,
    h3 {
        font-size: 25;
        font-weight: 700;
        font-family: 'Times New Roman', Times, serif;
    }

    nav {
        float: right;
        margin-top: 25px;
        padding: 25px;
    }

    #masthead {
        z-index: 50;
        width: 100;
    }

    #logo {
        font: size 40;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        float: left;
        text-align: center;
        background: skyblue;
    }

    .work {
        width: 250px;
        position: relative;
        float: left;
    }